<%- include('../layout/header.ejs') %>

<div class="flex justify-center mt-10">
  <div class="w-4/12 bg-white p-6 rounded-lg">
    <h1 class="text-3xl font-bold mb-5">Login</h1>
    <form class="mt-2" action="" method="post">
      <div class="mb-4">
        <label for="email" class="sr-only">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" required="true" class="bg-gray-100 border-2 w-full p-4 rounded-lg" value="<%= email %>">
      </div>

      <div class="mb-4">
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" placeholder="Password"  required="true" class="bg-gray-100 border-2 w-full p-4 rounded-lg" v>
      </div>

      <% if (error) { %>
        <div class="p-2 bg-red-200 text-red-800 rounded mb-4">Email or password is invalid</div>
      <% } %>

      <div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-3 rounded font-medium w-full">Login</button>
      </div>
    </form>
  </div>
</div>

<%- include('../layout/footer.ejs') %>